*{
	margin: 0px;
	padding: 0px;
}.app{
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100%;
}
.lists{
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;
	justify-content: space-evenly;
}
.list{
	height: 500px;
	width: 500px;
	background: white;
}
.list-item{
	background: black;
	text-align: center;
	margin-bottom: 10px;
	padding: 10px 5px;
	color:white ;
	border:2px solid white ;
	margin-bottom: ;
}
.text-roght{
	text-align: right !important;
}
.btn:not(:disabled):not(.disabled){
	background-color: #17a2b8;
	border-color: #17a2b8;
	color: white;
}
.bg-loght{
	background: #EBECEF !important;
}
.text-loght{
	color: #EBECEF;
}
.fw-100{
	font-weight: 100 !important;
}
.custom{
	background: #182B4E;
	height: 30px;
	line-height: 30px;
	width: 30px;
	border-radius: 100%;
	color: white;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.fn-12{
	font-size: 12px;
}
.bg-purp{
	background: #ECDBF3;
}
.text-purp{
	color: 	color: #CFB7DB;;
}
.fw-600{
	font-weight: 600;
}
.same:focus{
	box-shadow: none !important;
}
.w-15{
	width: 50px;
	margin-left: 5px;
}
.f-10{
	font-size: 10px !important;
}
.w-80{
	width: 800px !important;
}
.ml-custom{
	margin-left: -152px;
}

@media only screen and (max-width: 920px) {
	.w-80 {
		width: 700px !important;
	}
	.ml-custom{
		margin-left: -106px;
	}

}


@media only screen and (max-width: 767px) {
	.w-80 {
		width: 535px !important;
	}
	.ml-custom{
		margin-left: -18px;
	}

}

